rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Require authentication for all reads and writes
    function isSignedIn() {
      return request.auth != null;
    }

    match /{document=**} {
      allow read, write: if isSignedIn();
    }
  }
}
